.Sabato{
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: yellow;
    background-color: yellow;
    
}

.Domenica{
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: red;
    background-color: red;
}

.Viaggio{
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: blue;
    background-color: blue;
}

